.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.856);
  color: #fff;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}